@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root, body {
		font-family: "Inter", system-ui, sans-serif;
		font-optical-sizing: auto;
	}

	html {
		color-scheme: light;
	}

	body {
		min-width: 300px;
		font-size: 1rem;
	}

	@media (prefers-color-scheme: dark) {
		html {
			color-scheme: dark;
		}
	}
}
